<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>WELCOME TO EXPRESS PIZZA</h1>
    <p>Specialty Pizzas</p>
    <ul>
      <li><a href="/anchovylovers">Anchovy Lover's</a></li>
      <li><a href="/paleo">Paleo Pizza</a></li>
      <li><a href="/dessert">Dessert Pizza</a></li>
    </ul>
    <p>Custom Pizza</p>
    <p><a href="/custom">Build your own!</a></p>

    <p>Leave a review</p>
    <p><a href="/review">Click here to leave a review</a></p>

  </body>
</html>