<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Leave a Review</h1>
    <form action="/thankyou" method="POST">
      <label>Your Name</label>
      <input name="fullname" />
      <label>Comment</label>
      <input name="Comment" />
      <label>Rating</label>
      <input type="radio" name="rating" id="5" value="5" /><label
        for="5"
      >5</label>
      <input type="radio" name="rating" id="4" value="4" /><label
        for="4"
      >4</label>
      <input type="radio" name="rating" id="3" value="3" /><label
        for="3"
      >3</label>
      <input type="radio" name="rating" id="2" value="2" /><label
        for="2"
      >2</label>
      <input type="radio" name="rating" id="1" value="1" /><label
        for="1"
      >1</label>

      <button>Submit</button>

      <a href="">Nevermind</a>
    </form>
  </body>
</html>